@{
    ViewData["Title"] = "Trivia";
}

<h1 class="text-primary">@ViewData["Title"]</h1>
<br />

<div class="row" style="margin-top:20px;">
    <div class="col">
        <partial name="_ViewTrivia" />
    </div>
</div>